In [62]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo
df=pd.read_csv('gdp.csv')

In [64]:
final=[]
for country in df['Country Name'].unique():
    df_all=df[df['Country Name']==country]
    data=df_all.values
    gdp=[0]
    for i in range(1,len(data)):
        curr=data[i][3]
        prev=data[i-1][3]
        per=(curr-prev)/prev*100
        gdp.append(round(per,2))
    df_all=df_all.assign(GDP=gdp)
    final.append(df_all)
df=pd.concat(final,axis=0)

In [66]:
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP of Each Country

In [73]:
os.mkdir('GDP Individual')
for country in df['Country Name'].unique():
    df_all=df[df['Country Name']==country]
    fig=px.line(df_all,x='Year',y='Value',title=country+' GDP Analysis')
    pyo.plot(fig,filename='GDP Individual/'+country+' .html',auto_open=False)

## GDP of Each country WRT World

In [72]:
os.mkdir('GDP Individual WRT 80T')
for country in df['Country Name'].unique():
    df_al=df[df['Country Name']==country]
    fig2=px.line(df_al,x='Year',y='Value',title=country+' GDP Analysis WRT 80T',range_y=[0,80000000000000])
    pyo.plot(fig2,filename='GDP Individual WRT 80T/'+country+' .html',auto_open=False)

## Compare GDP Across Country

### GDP of all country

In [74]:
fig3=px.line(df,x='Year',y='Value',title='GDP Analysis of all Country',color='Country Name')
pyo.plot(fig3,filename='All GDP Countries.html')

'All GDP Countries.html'

### GDP Comparison Between India & China

In [85]:
c1=df[df['Country Name']=='India']
c2=df[df['Country Name']=='China']
df_pr=pd.concat([c1,c2],axis=0)
df_pr

     Country Name Country Code  Year         Value    GDP
6074        India          IND  1960  3.653593e+10   0.00
6075        India          IND  1961  3.870910e+10   5.95
6076        India          IND  1962  4.159907e+10   7.47
6077        India          IND  1963  4.777600e+10  14.85
6078        India          IND  1964  5.572687e+10  16.64
...           ...          ...   ...           ...    ...
4098        China          CHN  2012  8.560547e+12  13.05
4099        China          CHN  2013  9.607224e+12  12.23
4100        China          CHN  2014  1.048237e+13   9.11
4101        China          CHN  2015  1.106467e+13   5.55
4102        China          CHN  2016  1.119915e+13   1.22

[114 rows x 5 columns]

In [82]:
fig=px.line(df_pr,x='Year',y='Value',title='GDP Comparison India|China ',color='Country Name')
pyo.plot(fig,filename='IND & CHN.html')

'IND & CHN.html'

### GDP Comparison Between World & China

In [87]:
c1=df[df['Country Name']=='World']
c2=df[df['Country Name']=='China']
df_pr=pd.concat([c1,c2],axis=0)
df_pr

     Country Name Country Code  Year         Value    GDP
2249        World          WLD  1960  1.366678e+12   0.00
2250        World          WLD  1961  1.421788e+12   4.03
2251        World          WLD  1962  1.526955e+12   7.40
2252        World          WLD  1963  1.643752e+12   7.65
2253        World          WLD  1964  1.800796e+12   9.55
...           ...          ...   ...           ...    ...
4098        China          CHN  2012  8.560547e+12  13.05
4099        China          CHN  2013  9.607224e+12  12.23
4100        China          CHN  2014  1.048237e+13   9.11
4101        China          CHN  2015  1.106467e+13   5.55
4102        China          CHN  2016  1.119915e+13   1.22

[114 rows x 5 columns]

In [89]:
fig=px.line(df_pr,x='Year',y='Value',title='GDP Comparison World | China ',color='Country Name')
pyo.plot(fig,filename='WLD & CHN.html')

'WLD & CHN.html'